In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# this data won't work (it's only for one year), it's only illustrative
df = pd.DataFrame({
    'Age': {0: 32, 1: 38, 2: 45, 3: 39, 4: 44},
    'County': {0: 'Bexar', 1: 'Tarrant', 2: 'Harris', 3: 'Nueces', 4: 'Kerr'},
    'Date Executed': {
        0: '10/28/2014',
        1: '09/17/2014',
        2: '09/10/14',
        3: '04/16/2014',
        4: '04/09/14'},
    'Executed': {0: 518, 1: 517, 2: 516, 3: 515, 4: 514},
    'First Name': {0: 'Miguel', 1: 'Lisa', 2: 'Willie', 3: 'Jose', 4: 'Ramiro'},
    'Last Name': {
        0: 'Paredes',
        1: 'Coleman',
        2: 'Trottie',
        3: 'Villegas',
        4: 'Hernandez'},
    'Race': {0: 'Hispanic', 1: 'Black', 2: 'Black', 3: 'Hispanic', 4: 'Hispanic'},
    'TDCJ Number': {0: 999400, 1: 999511, 2: 999085, 3: 999417, 4: 999342}})

# convert to DateTime
df['Date Executed'] = pd.to_datetime(df['Date Executed'], dayfirst=True, infer_datetime_format = True)
# set as index
df.set_index('Date Executed', inplace=True)
# set Race as categorical
df['Race'] = df['Race'].astype('category')

In [3]:
df

,Age,County,Executed,First Name,Last Name,Race,TDCJ Number
Date Executed,,,,,,,
2014-10-28,32,Bexar,518,Miguel,Paredes,Hispanic,999400
2014-09-17,38,Tarrant,517,Lisa,Coleman,Black,999511
2014-10-09,45,Harris,516,Willie,Trottie,Black,999085
2014-04-16,39,Nueces,515,Jose,Villegas,Hispanic,999417
2014-09-04,44,Kerr,514,Ramiro,Hernandez,Hispanic,999342

In [ ]:

grouped = df.groupby('Race')

plt.clf()
fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111, axisbg='w', frame_on=True)

for key, group in grouped:
    data = group.groupby(lambda x: x.year).count()
    data['Race'].plot(label=key, ax=ax, lw=2.)

# label x and y axis
plt.xlabel("Year")
plt.ylabel("Number of Executions")
# turn off background grid
ax.grid(b=None)
# show a semi-transparent legend
leg = ax.legend(loc='best')
leg.get_frame().set_alpha(0.75)
# set a title
plt.title(
    "Executions per Race, %s - %s" % (min(df.index.year), max(df.index.year)),
fontweight='bold')